.head{
    height: 55px;
    line-height: 55px;
    border-bottom: 1px solid #e3e3e3;
    margin-bottom: 12px;
}
.chart-title-sm{
    font-size: 20px;
    display: inline-block;
    width: 39%;
}
.chart-title{
    font-size: 20px;
    display: inline-block;
    width: 26%;
}
@media (max-width: 760px) {
    .chart-title{
        width: 100%;
    }
}
@media (max-width: 620px) {
    .chart-title-sm{
        width: 100%;
    }
}
.fa-line-chart:before{
    margin-right:6px;
}
.query-condition-sm{
    display: inline-block;
    float: right;
    width: 60%;
    padding-right: 20px;
    text-align: right;
}
.query-condition-sm .label100{
    width: 80px;
}
@media (max-width: 660px) {
    .query-condition-sm{
        width: 100%;
        text-align: center;
    }
}
.query-condition{
    display: inline-block;
    float: right;
    width: 73%;
    padding-right: 0px;
    text-align: right;
}
@media (max-width: 760px) {
    .query-condition{
        width: 100%;
        padding-right:0px;
        text-align: center;
    }
}
.start-date,.end-date{
    display: inline-block;
    width: 100px;
    right: 100px;
    margin-right: 10px;
    margin-left: 10px;
}
.start-date input,.end-date input{
    width: 100px;
    height: 30px;
    line-height: 30px;
    padding: 5px;
}
.show-grate{
    display: inline-block;
    margin-left: 20px;
}
.show-grate div{
    display: inline-block;
    height: 30px;
    line-height: 30px;
    border: 1px solid #e3e3e3;
    margin-right: -5px;
    width: 55px;
    text-align: center;
    cursor: pointer;
}
.container-fluid{
    background-color: white;
}
.selected{
    background-color: #1ab394;
    color: #fff;
}
.chart{
    margin-top: 20px;
}
#main{
    height:300px;
    display: inline-table;
}

@media (min-width: 768px) {
    .col-sm-two{
        width: 12%;
        margin-left: 2%;
    }
}
@media (min-width: 992px){
    .col-md-two{
        width: 11%;
        margin-left: 2%;
    }
    .chart .col-md-10{
        width: 86%;
    }
}
@media (min-width: 1600px){
    .col-right-two{
        width: 9%;
        margin-left: 1%;
    }
    .chart .col-left-10{
        width: 88%;
    }
}
@media (max-width: 600px){
    .col-right-two{
        width: 98%;
        margin-left: 1%;
    }
    .chart .col-left-10{
        width: 98%;
        margin-left: 1%;
    }
}
.bar{
    background-color: #F5F5F5;
    border-radius: 4px;
    width: 100%;
    height: 6px;
}
.progress{
    background-color: #1ab394;
    border-radius: 4px;
    width: 100%;
    height: 6px;
}

#total{
    display: inline-table;
}
@media (max-width: 992px) {
    #total{
        padding-top: 20px;
    }
}
#total >div{
    margin-top: 20px;
}
.num{
    font-size: 26px;
}
.content{
    background-color: #FFFFFF;
    margin-top: 30px;
}
.content-title{
    width: 100%;
    height: 60px;
    line-height: 60px;
    font-size: 20px;
    display: inline-block;
    padding-left: 0px;
    font-weight: 400;
}
.content-title span{
    margin-right: 2px;
}
.content-head{
    margin-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #E3E3E3;
}
th{
    text-align: center;
}
th,td{
    width: auto;
    min-width: 100px;
}
#list{
    display: inline-block;
    overflow-x: auto;
}
.ch-name{
    font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.label100 .btn{
    padding: 4px 8px;
}