.select-w{
    display: inline-block;
    width: 172px;
    height: 24px;
}
.span645{
    display: inline-block;
    width: 645px;
}
.label100{
    width: 90px;
    display: inline-block;
    font-size: 13px;
}
/*-------版本 div start-------*/
.cm-item{
    width: 84%;
    display: inline-block;
    margin: 20px auto;
    height: 400px;
    cursor: pointer;
    max-width: 320px;
}
.item-border{
    border-top:6px solid #AF2018;
    border-left: 1px solid #AF2018;
    border-right: 1px solid #AF2018;
    border-bottom: 1px solid #AF2018;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}
.item-head{
    display: block;
    margin-bottom: 20px;
    height: 70px;
    line-height: 70px;
    text-align: left;
}
.item-head,.item-bottom{
    width: 100%;
}
.item-bottom{
    display: block;
    height: 50px;
    line-height: 50px;
    text-align: right;
    padding-right: 15px;
}
.item-head p{
    display: inline-block;
    margin-bottom:0px;
}
.item-title{
    background-color: #ed9c28;
    font-size: 26px;
    color: #ffffff;
    height: 100%;
    line-height: 70px;
    width: 120px;
    margin-top: -6px;
    text-align: center;
}
.item-btn{
    height: 100%;
    line-height: 70px;
    padding-right: 20px;
}
.item-con{
    padding:0  12px;
    max-height: 290px;
    overflow-y: auto;
    font-size: 16px;
    text-align: left;
    width: 99%;
}
.item{
    padding-bottom:8px;
    border-bottom: 1px solid #e0e0e0;
}
.itemYes{
    box-shadow: 4px 4px 12px 0px #a94442;
    -moz-box-shadow:4px 4px 12px 0px #a94442;
}
.slimScrollDiv{
    margin-bottom: 10px;
}
.slimScrollBar{
    height:100px !important;
}